@use "../../styles/var";

.e_cart {
	background: #f6f9fc;
	height: auto;
	padding: 50px 0;
	@at-root .e_cart__list {
		.e_card__empty {
			.e_card__empty__content {
				padding: 40px;
			}
			.e_card__empty__title {
				text-align: center;
				color: #7d879c;
			}
			.e_card__empty__link {
				cursor: pointer;
				margin-top: 15px;
				text-align: center;
				color: $color-primary;
			}
		}

		@at-root .cart__items {
		}
	}
	@at-root .e_cart__sidebar {
		@at-root .e_c__cart__wgt {
			.e_cart__wgt__item {
				font-size: 14px;
			}
			.e_wgt__item__key {
			}
			.e_wgt__item__value {
			}
			.e_wgt__body {
				padding: 20px;
			}
			.e_wgt__title {
				margin-bottom: 10px;
				padding-bottom: 8px;
				font-size: 16px;
				font-weight: bold;
				border-bottom: 1px solid rgb(3 0 71 / 9%);
			}
			.e_wgt__footer {
				margin-top: 20px;
				padding-top: 8px;
				border-top: 1px solid rgb(3 0 71 / 9%);
			}

			.e_cart--total {
				font-size: 18px;
				color: $color-primary;
			}
		}

		.e_cart__checkout {
			.e_cart__checkout__button {
				margin-top: 20px;
				padding: 8px 12px;
				font-weight: 500;
				color: #fff;
				background-color: $color-primary;
			}
		}
	}

	@at-root .cart__item {
		margin-bottom: 24px;
		display: flex;
		justify-content: flex-start;
		background: white;
		box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;

		@at-root .cart__item__img {
			width: 140px;
			height: 140px;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		@at-root .cart__item__details {
			width: calc(100% - 140px);
			position: relative;
			padding: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;

			.cart__item__title {
				color: #2b3445;
				font-size: 18px;
				line-height: 27px;
			}

			.cart__item__footer {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				p {
					color: #7d879c;
					font-size: 14px;
					line-height: 21px;
				}
			}
		}
	}

	.e_cart .e_cart .cart__itemsh3 {
		font-size: 20px;
		font-weight: 500;
		margin-top: 20px;
	}
	.e_cart .cart__itemsh4 {
		font-size: 15px;
		font-weight: 400;
		margin-top: 50px;
		color: grey;
	}
	.e_cart h4 span {
		color: $color-primary;
		margin-left: 20px;
		font-weight: 500;
	}
	.cart__item__remove {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 25px;
		background: none;
	}
	.cart__item__counter {
		button {
			width: 32px;
			height: 32px;
			padding: 5px;
			border-radius: 5px;
			font-size: 20px;
		}
		input {
			height: 32px;
			width: 40px;
			padding: 5px;
			border-radius: 5px;
			font-size: 16px;
			text-align: center;
		}
	}

	.incCart {
		background: none;
		border: 1px solid rgb(3 0 71 / 9%);
		color: $color-primary;
	}
	.desCart {
		background: #f6f9fc;
	}

	.no-items {
		color: $color-primary;
		font-size: 18px;
		margin-top: 30px;
		height: 130px;
	}
}
