.e_shop {
	padding-top: 60px;
	background: #f6f9fc;

	.shop__container {
	}
	.shop__menu {
	}

	.shop__header {
	}
	.shop__header__left {
	}
	.shop__header__right {
	}
	.shop__header__link {
		display: flex;
		align-items: center;
		gap: 8px;
		color: rgb(125, 135, 156);
		&:hover {
			color: black;
		}
		.link__text {
		}
		.link__icon {
		}
	}
}
@media (max-width: 509px) {
}
@media (min-width: 600) and (max-width: 899px) {
}
@media (min-width: 900px) {
}
