.e_topbar {
	background-color: #0f3460;
	padding: 10px 0;
	color: #fff;

	.topbar__left {
		display: flex;
	}

	.topbar__right {
		display: inline-block;
	}

	.topbar__link {
		a {
			cursor: pointer;
			color: #fff;
			margin-right: 30px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 8px;
			label {
				font-size: 13px;
			}
		}
	}
}
