.e_bas {
	// height: 90vh;
	.bas__wrapper {
		width: 100%;
		padding: 20px;
		background: #fff;
	}
	.bas__head {
		margin-bottom: 8px;
		h1 {
			font-size: 20px;
			margin-bottom: 8px;
		}
	}

	.bas__body {
	}

	.bas__item {
		width: 100%;
		min-width: 240px;
		margin: 0 0 12px 0;
		padding: 0.75rem 1rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 24px;
		font-weight: 600;
		transition: 0.3s;
		background-color: #f6f9fc;
		border-radius: 5px;
		&:hover {
			background-color: #fff;
			box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
		}
	}
	.bas__footer {
		margin-top: 64px !important;
		text-align: center;
		button {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 17px;
			font-weight: 500;
		}
	}

	img {
		width: auto;
		height: auto;
	}
}

.shop .box2 {
}
