.account__body__wgt {
	display: flex;
	flex-wrap: wrap;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
	border-radius: 10px;
	box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
	padding: 0.75rem 1.5rem;
	background-color: rgb(255, 255, 255);
}
