@use "../../../styles/var";

.e_searchBar {
	padding: 10px 0;
	transition: all 0.3s ease-in-out;
	&.active {
		// height: 12vh;
		position: fixed;
		top: 0;
		z-index: 1000;
		width: 100%;
		background-color: #fff;
		box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
		// transition: 0.5s;
		.sb__container {
		}
		.sb__logo {
			width: auto;
		}
		.sb__searchBox {
			input,
			.sb__searchBox__categories {
			}
		}
	}

	.sb__container {
		display: flex;
		align-items: center;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}

	.sb__logo {
		img {
			width: auto;
			height: auto;
		}
	}

	.sb__searchBox {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		display: flex;
		cursor: unset;
		flex-direction: row;
		-webkit-box-pack: center;
		justify-content: center;
		align-items: center;
		flex: 1 1 0px;
		color: rgb(43, 52, 69);
		::placeholder {
			font-size: 15px;
		}
		.sb__searchBox__icon {
			position: absolute;
			color: rgb(125, 135, 156);
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			cursor: unset;
		}
		.sb__searchBox__search {
			width: 100%;
			position: relative;
			cursor: unset;
			input {
				width: 100%;
				flex: 1 1 0px;
				color: rgb(43, 52, 69);
				border: 1px solid rgb(218, 225, 231);
				border-radius: 300px;
				outline: none;
				&:hover {
					border-color: rgb(174, 180, 190);
				}
				&:active,
				&:focus {
					outline-color: $color-primary;
					border-color: $color-primary;
					box-shadow: rgb(255 225 230 / 10%) 1px 1px 8px 4px;
				}
			}
		}
		.sb__searchBox__categories {
			padding: 10px;
			position: absolute;
			right: 0px;
			color: rgb(125, 135, 156);
			font-size: 14px;
			line-height: 21px;
			border-left: 1px solid rgb(218, 225, 231);
		}
	}

	.sb__icons {
		.sb__searchIcon {
		}
	}
}

@media (max-width: 509px) {
	.e_searchBar {
		&.active {
			// transition: 0.5s;
			.sb__container {
			}
			.sb__logo {
				height: 38px;
			}
			.sb__searchBox {
				height: 38px;
				input,
				.sb__searchBox__categories {
					height: 38px;
				}
			}
		}

		.sb__container {
		}

		.sb__logo {
			margin-right: 16px;
			img {
			}
		}

		.sb__searchBox {
			// max-width: 670px;
			display: none;
			::placeholder {
			}
			.sb__searchBox__icon {
			}
			.sb__searchBox__search {
			}
			.sb__searchBox__categories {
			}
		}

		.sb__icons {
			.sb__searchIcon {
			}
		}
	}
}
@media (min-width: 600) and (max-width: 899px) {
}
@media (min-width: 900px) {
	.e_searchBar {
		&.active {
			// transition: 0.5s;
			.sb__container {
			}
			.sb__logo {
				height: 38px;
			}
			.sb__searchBox {
				height: 38px;
				input,
				.sb__searchBox__categories {
					height: 38px;
				}
			}
		}

		.sb__container {
		}

		.sb__logo {
			margin-right: 16px;
			img {
			}
		}

		.sb__searchBox {
			// max-width: 670px;
			max-width: 460px;
			::placeholder {
			}
			.sb__searchBox__icon {
				left: 1rem;
			}
			.sb__searchBox__search {
				input {
					height: 44px;
					padding: 8px 11.5rem 6px 3rem;
					&:hover {
					}
					&:active,
					&:focus {
					}
				}
			}
			.sb__searchBox__categories {
				width: 20%;
			}
		}

		.sb__icons {
			.sb__searchIcon {
				display: none;
			}
		}
	}
}
